<!DOCTYPE html>
<html>
<head>
    <title>Ilea's Web Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h1>Activity Chatbot</h1>
    <p>
        Hi, I'm an activity chatbot. I can help you find events, restaurants, breweries, sights, theaters, movies, books, and recipes based on your input. All things perfect for a date night or fun day out.
    </p>
    <p>
    <strong>Try asking things like:</strong><br>
   <ul>
    <li>Events in [city]</li>
    <li>Restaurants near [city or zipcode]</li>
    <li>Breweries in [city or zipcode]</li>
    <li>Sights in [city or zipcode]</li>
    <li>Theaters in [city or zipcode]</li>
    <li>Movies in [city]</li>
    <li>Recipes for [ingredient]</li>
    <li>Book about [topic]</li>
    <li>Help</li>
    <li style="height: 8px; border: none; background: none; list-style: none;">&nbsp;</li>
    <li><b>Movie tips:</b> Try genres (<em>comedy movies</em>), years (<em>action movies from 1995</em>), decades (<em>horror movies from the 1980s</em>), or <em>random movie</em> for a surprise!</li>

</ul>
</p>
    <!-- Form for User Input -->
    <form method="post"> <!-- Create form for user input -->
        <input type="text" name="user_input" placeholder="Type your message..." required>
        <input type="submit" value="Send">
    </form>
    {% if bot_response %} <!-- Jinja2 Template Syntax to check if bot_response exists -->
        <p><strong>Bot:</strong> {{ bot_response|safe }}</p> <!-- Display bot response -->
    {% endif %}
    </div>
</body>
</html>